@import "tailwindcss";

@font-face {
  font-family: "Glacial Indifference";
  src: url("/fonts/GlacialIndifference-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Glacial Indifference";
  src: url("/fonts/GlacialIndifference-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}


body {
  font-family: "Glacial Indifference", sans-serif;
  font-weight: 400;
  @apply bg-white text-gray-900;
}

.slick-track {
  display: flex;
}

.slick-slide {
  height: auto;
}

.team-slider .slick-prev {
  left: -50px;
}

.team-slider .slick-next {
  right: -50px;
}

.story-slider .slick-prev {
  left: -50px;
}

.story-slider .slick-next {
  right: -50px;
}

.slick-prev:before,
.slick-next:before {
  color: #9e9e9e;
  font-size: 26px;
}